<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project.Properties.Settings.ProjectchaletConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Projectchalet.mdb;Jet OLEDB:Database Password=admin"
            providerName="System.Data.OleDb" />
        <add name="Project.Properties.Settings.Projectchalet1ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Projectchalet1.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="Project.Properties.Settings.Projectchalet2ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Projectchalet2.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="Project.Properties.Settings.Projectchalet11ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Projectchalet11.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="Project.Properties.Settings.customersConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\customers.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="Project.Properties.Settings.BookingConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Booking.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>